@import "tailwindcss";

@theme {
  /* LIGHT (default) */
  --color-primary: #000;
  --color-primary-dark: #000;

  --color-background: #fff;
  --color-surface: #fff;

  --color-text-main: #000;
  --color-text-muted: #000;
}

/* DARK overrides */
.dark {
  --color-background: #000;
  --color-surface: #000;

  --color-text-main: #fff;
  --color-text-muted: #fff;
}

body {
  background: var(--color-background);
  color: var(--color-text-main);
  font-family: Arial, Helvetica, sans-serif;
}